.parallax-hide {
  opacity: 0;
  transform: translateX(-10px);
  transition: $transitionSlow;

  &.parallax-active {
    opacity: 1;
    transform: translateX(0px);
  }
}

.parallax {
  transition: $transition;

  &.parallax-shadow {
    box-shadow: 5px 5px 20px rgba($black, 0);

    &.active {
      box-shadow: 10px 10px 20px rgba($black, 0.25);
    }
  }

  &.parallax-slide {
    opacity: 0;
    transform: translate(-16px);

    &.active {
      opacity: 1;
      transform: translate(0px);
    }
  }
}
