.parallax-hide {
  opacity: 0;
  transform: translateX(-10px);
  transition: $transitionSlow;

  &.parallax-active {
    opacity: 1;
    transform: translateX(0px);
  }
}

.parallax {
  &.parallax-shadow {
    &.active {
      box-shadow: 10px 10px 20px $black;
    }
  }
}
