@mixin pad($x, $y) {
  padding-left: $x * $space;
  padding-right: $x * $space;
  padding-top: $y * $space;
  padding-bottom: $y * $space;
}

@mixin margin($x, $y) {
  margin-left: $x * $space;
  margin-right: $x * $space;
  margin-top: $y * $space;
  margin-bottom: $y * $space;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section__inner {
  width: $width;
  
  @media screen and (max-width: $width) {
    width: 100%;
  }
}
