$colourPrimary: #222;
$colourSecondary: #666;
$colourAlt: #efefef;
$colourBackground: $colourAlt;
$colourHighlight: #ff7e31;
$colourDark: darken(#e8e8ea, 12.5%);
$white: #fff;
$black: #000;
$colourGradient: linear-gradient(90deg, $colourAlt, $white);
$colourGradientAlt: linear-gradient(90deg, $colourHighlight, $white);

$boxShadow: 5px 5px 10px rgba($black, 0.15);

$space: 8px;
$width: 1020px;
$mobile: 760px;
$tabletPortrait: 800px;
$titleBarHeight: 100px;
$navHeight: 38px;
$footerHeight: 150px;

$transition: 0.5s;
$transitionFast: 0.35s;
$transitionSlow: 1s;
$transitionMedium: 0.7s;

$border: 1px solid rgba(#000, 0.35);
$borderAlt: 3px double rgba(#000, 0.5);
$borderSoft: 1px solid rgba(#000, 0.25);
$borderThick: 3px solid $black;

$zTitle: 100;
$zNav: 90;
$zSubNav: 80;
$zSearch: 110;
