.about {
  width: 100%;
  display: flex;
  justify-content: center;

  .about__inner {
    width: $width;

    .content {
      @include pad(8, 8);
      font-size: $fontHuge;
      line-height: 1.2;
      color: $colourSecondary;
      text-align: justify;

      .title {
        width: 100%;
        font-size: 150%;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }

    @media screen and (max-width: $width) {
      width: 100%;
    }
  }

  // single page about
  &.about-single {
    .about__inner {
      .content {
        @include pad(2, 8);
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .about__inner .content {
      font-size: $fontLarge;
      @include pad(3, 4);
    }
  }
}
