.about {
  @extend .section;

  .about__inner {
    @extend .section__inner;

    .content {
      @include pad(12, 12);
      font-size: $fontLarge;
      line-height: 1.2;
      color: $colourSecondary;
      text-align: justify;

      .title {
        width: 100%;
        font-size: $fontHuge;
        text-decoration: underline;
        text-transform: uppercase;
      }

      a {
        text-transform: uppercase;
      }
    }
  }

  &.about-single {
    .about__inner {
      .content {
        @include pad(3, 6);
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .about__inner .content {
      font-size: $fontLarge;
      @include pad(2, 8);
    }
  }
}
