.login {
  @extend .section;

  .login__inner {
    @extend .section__inner;
    @include pad(3, 6);
    min-height: 65vh;

    .title {
      font-size: $fontHuge;
    }

    form {
      border-top: $borderAlt;
      margin-top: $space;
      padding-top: $space;
      width: auto;
      display: inline-block;

      p {
        padding: $space /2;

        label {
          padding-right: $space;
          min-width: 100px;
          display: inline-block;
        }

        input[type='text'], input[type='password'] {
          border-radius: 0;
          width: 150px;
        }

        input[type='submit'] {
          @include pad(2, 0.5);
          background: $white;
          border: $border;
          cursor: pointer;
          text-transform: uppercase;

          @media (hover: hover) {
            &:hover {
              background: $colourBackground;
            }
          }
        }

        &:nth-child(3), &:nth-child(4) {
          //display: flex;
          //justify-content: flex-end;
        }
      }
    }
  }
}
