.carousel {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  border-top: 1px solid rgba($black, 0.25);
  border-bottom: 1px solid rgba($black, 0.25);
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;

  .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;

    .carousel-left, .carousel-right {
      position: absolute;
      pointer-events: all;
      padding: $space * 2;
      opacity: 0.25;
      cursor: pointer;
      font-size: $fontHuge;
      transition: $transition;
      top: 50%;
      transform: translateY(-50%);
      i {
        transition: $transition;
      }

      &.active {
        opacity: 1;

        i {
          transform: scale(1.25, 1.25);
        }

        &:hover {
          opacity: 0.5;

          .fa-chevron-left {
            transform: scale(1.25, 1.25) translateX(4px);
          }

          .fa-chevron-right {
            transform: scale(1.25, 1.25) translateX(-4px);
          }
        }
      }
    }

    .carousel-right {
      right: 0;
    }
  }

  .carousel-overlay {
    position: absolute;
    height: 20%;
    width: 100%;
    top: 0;
    left: 0;
    background: $colourGradientAlt;
    pointer-events: none;
    opacity: 0.25;
  }

  .carousel-slider {
    transition: $transitionMedium;
  }

  .carousel__inner {
    @include pad(0, 2);
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    .slide {
      height: 100%;
      opacity: 0.25;
      transition: $transitionMedium;
      cursor: pointer;
      position: relative;

      img {
        transform: scale(0.8);
        transition: $transitionMedium;
        height: 100%;
        width: auto;
        user-select: none;
        user-drag: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      .slide-title {
        @include pad(1, 0.5);
        @include margin(2, 4);
        opacity: 0;
        transition: $transitionMedium;
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgba($white, 0.5);

        a {
          text-decoration: none;
        }

        .title {
          border-bottom: $borderAlt;
          font-size: $fontLarge;
          transition: $transitionFast;
          text-decoration: none;
        }

        .link {
          padding-top: $space / 2;
          font-size: $fontSmall;
          width: 100%;
          text-align: right;
          transition: $transitionFast;
          text-decoration: underline;
        }

        &:hover {
          .title, .link {
            opacity: 0.5;
          }
        }
      }

      &:hover {
        //opacity: 0.5;
      }

      &.active {
        opacity: 1;

        .slide-title {
          opacity: 1;
        }

        img {
          transform: scale(1);
        }
      }
    }
  }
}
