.categories {
  @include pad(0, 4);
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(#000, 0.25);
  background: $colourBackground;

  .categories__inner {
    @include pad(2, 4);
    width: $width;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $width) {
      width: 100%;
    }

    .cat {
      width: 25%;
      height: 200px;

      &:hover {
        .cat__inner {
          .cat-image {
            transform: scale(0.9);
          }
        }
      }

      a {
        width: 100%;
        height: 100%;

        .cat__inner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .cat-image {
            transition: $transitionFast;
            img {
              width: 128px;
              height: 128px;
            }
          }

          .cat-name {
            @include pad(0.5, 0.25);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
