.categories {
  @include pad(0, 4);
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(#000, 0.25);
  border-bottom: 1px solid rgba(#000, 0.25);
  background: $colourBackground;
  box-shadow: $boxShadow;

  .categories__inner {
    @include pad(2, 4);
    width: $width;
    display: flex;
    flex-wrap: wrap;

    .cat {
      width: 25%;
      height: 200px;

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;

        .cat__inner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .cat-image {
            transition: $transitionFast;
            transform: scale(0.85);
            opacity: 0.5;

            img {
              width: 128px;
              height: 128px;
            }
          }

          .cat-name {
            @include pad(0.5, 0.25);
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }

      &:hover {
        .cat__inner {
          .cat-image {
            transform: scale(1);
            opacity: 1;
          }

          .cat-name {
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width: $width) {
      width: 100%;

      .cat {
        width: 33.33%;
      }
    }

    @media screen and (max-width: $mobile) {
      @include pad(2, 2);

      .cat {
        height: 120px;
        width: 33.33%;

        a .cat__inner .cat-image {
          img {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }
}
