.footer {
  @extend .section;
  background: $colourSecondary;
  height: $footerHeight;

  .footer__inner {
    @extend .section__inner;
    display: flex;
    justify-content: space-between;

    .footer-links {
      display: flex;
      justify-content: flex-start;

      .item {
        padding: $space;
        cursor: pointer;
      }
    }

    .footer-copy {
      padding: $space;
    }
  }
}
