.nav a {
  text-decoration: none;
  color: inherit;
}

.nav {
  @extend .section;
  //border-bottom: 1px solid rgba(#000, 0.25);
  box-shadow: $boxShadow;
  margin-top: $titleBarHeight;
  height: $navHeight;
  z-index: $zNav;

  .nav__inner {
    @extend .section__inner;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .item {
      cursor: pointer;
      position: relative;
      flex: 1;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      a {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: $space * 1.5;
        padding-bottom: $space;
        text-align: center;
        transition: $transitionFast;
        border-bottom: 0px solid transparent;
      }

      @media screen and (min-width: $mobile) {
        &:hover {
          a {
            color: $colourHighlight;
            border-bottom: $space/2 solid $colourHighlight;
          }
        }
      }

      &.active {
        a {
          color: $colourHighlight;
          border-bottom: $space/2 solid $colourHighlight;
        }
      }
    }
  }
}
