.page-content {
  @include pad(0, 2);
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .page-content__inner {
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .page-title {
      width: 100%;
      font-size: $fontHuge;
      display: block;
      text-decoration: underline;
      @include pad(2, 3);
    }

    .product-item {
      width: 33.33%;
      padding: $space * 2;
      position: relative;
      display: flex;
      flex-direction: column;

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        box-shadow: 1px 1px 2px rgba($black, 0.05), -1px -1px 2px rgba($black, 0.05);

        .product-item__image {
          width: 100%;
          height: 225px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          overflow: hidden;
          background: $colourBackground;

          img {
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
            transition: $transition;
          }
        }

        .product-item__title {
          @include pad(0, 1);
          width: 100%;
          transition: $transition;
          display: flex;
          justify-content: flex-end;
          padding-right: $space;

          .text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .line {
              margin-top: $space * 0.5;
              width: 0%;
              opacity: 0.5;
              height: 1px;
              background: $black;
              transition: $transitionFast;
            }

            .view-prompt {
              padding-top: $space / 2;
              opacity: 0.5;
              font-size: $fontSmall;
            }
          }
        }
      }

      @media screen and (min-width: $mobile) {
        &:hover {
          a {
            box-shadow: 5px 5px 10px rgba($black, 0.1), -1px -1px 4px rgba($black, 0.1);
            outline: 1px solid rgba($black, 0.2);

            .product-item__image {
              img {
                transform: scale(1.05, 1.05);
              }
            }

            .product-item__title {
              .text {
                font-weight: bold;

                .line {
                  width: 100%;
                  opacity: 1;
                }

                .view-prompt {
                  opacity: 1;
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: $width) {
      width: 100%;

      .product-item {
        width: 50%;
      }
    }

    @media screen and (max-width: $mobile) {
      .product-item {
        width: 100%;
        a .product-item__image {
          height: 300px;
        }
      }
    }
  }
}
