.page-content {
  @include pad(0, 2);
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .page-content__inner {
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .product-item {
      width: 33.33%;
      height: 250px;
      padding: $space * 2;
      position: relative;
      display: flex;

      a {
        width: 100%;
        height: 100%;

        .product-item__image {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            min-width: 100%;
            height: auto;
            object-fit: cover;
            transition: $transition;
          }
        }

        .product-item__title {
          @include pad(1, 0.5);
          @include margin(0.5, 2);
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(-4px, -4px);
          transition: $transition;
          background: lighten($colourBackground, 10%);
          box-shadow: 2px 2px 2px rgba($black, 0.25);
          z-index: 100;
        }
      }

      .product-item__border {
        pointer-events: none;
        opacity: 0;
        transform: scale(0.9, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: $border;
        transition: $transition;
      }

      @media (hover: hover) {
        &:hover {
          a {
            .product-item__image {
              img {
                opacity: 0.75;
                //transform: scale(.95, .95);
              }
            }

            .product-item__title {
              opacity: 1;
              transform: translate(0, 0);
            }
          }

          .product-item__border {
            opacity: 1;
            transform: scale(0.95, 0.95);
            box-shadow: 5px 5px 10px rgba($black, 0.1);
          }
        }
      }
    }

    @media screen and (max-width: $width) {
      width: 100%;

      .product-item {
        width: 50%;
      }
    }

    @media screen and (max-width: $mobile) {
      .product-item {
        width: 100%;
        height: 300px;
      }
    }
  }
}
