.breadcrumb {
  @extend .section;

  .breadcrumb__inner {
    @extend .section__inner;
    display: flex;
    justify-content: flex-start;
    padding-top: $space;

    .item {
      padding-right: $space;
      text-transform: capitalize;

      a {
        text-decoration: none;

        &:hover {
          opacity: 0.5;
        }
      }

      &:nth-child(n + 2) {
        padding-left: $space;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }
}
